/* Nav */

.nav {
  width: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--color-subtle);
  border-right: 1px solid var(--color-border);
  background-color: var(--color-bg);
  visibility: hidden;
  opacity: 0;
}
.nav.is-shown {
  visibility: visible;
  opacity: 1;
}

.nav-header {
  position: relative;
  /*padding: 2rem; */
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  /* margin-bottom: 1rem; */
  border-bottom: 1px solid var(--color-border);
  -webkit-app-region: drag;
}

.nav-title {
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
  margin: 0;
}

.nav-title strong {
  font-weight: 600;
  color: var(--color-strong);
}

/* .nav-header-icon {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 3.0rem; /* magic
  right: 1.75rem; /* magic
} */

.nav-item {
  padding: .3em 0;
}

.nav-icon {
  width: 20px;
  height: 20px;
  vertical-align: top;
  z-index: 1;
  /* margin-left:-3rem; */
}

.nav-category {
  margin: .2em 0;
  padding-left: 2rem;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
}

.nav-button {
  display: block;
  width: 100%;
  padding: .3rem;
  padding-left: 35px; /* calc(2rem + 20px + .5rem);  padding + icon + magic */
  line-height: 2;
  text-align: left;
  font: inherit;
  font-size: 13px;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: default;
  outline: none;
  z-index: 10;
}
.nav-button:hover,
.nav-button:focus:not(.is-selected) {
  background-color: hsla(0,0%,0%,.1);
}
.nav-button.is-selected {
  background-color: var(--color-accent);
}
.nav-button.is-selected,
.nav-button.is-selected em {
  color: #fff;
}
.nav-button.is-selected:focus {
  opacity: .8;
}
.nav-button em {
  font-style: normal;
  font-weight: 600;
  color: var(--color-strong);
  pointer-events: none; /* makes it invisible to clicks */
}

.nav-button-diagnose {
  background-image: url('../img/diagnose-icon.png');
  background-repeat: no-repeat;
  background-position:5px;
  background-size: 25px 25px;
  padding-left: 35px;
  font-weight: bold;
}

.nav-button-recovery {
  background-image: url('../img/recovery-icon.png');
  background-repeat: no-repeat;
  background-position:5px;
  background-size: 25px 25px;
  padding-left: 35px;
  font-weight: bold;
}

.nav-button-hdd {
  background-image: url('../img/hdd-icon.png');
  background-repeat: no-repeat;
  background-position:5px;
  background-size: 25px 25px;
  padding-left: 35px;
  font-weight: bold;
}

.nav-button-antivirus {
  background-image: url('../img/antivirus-icon.png');
  background-repeat: no-repeat;
  background-position:5px;
  background-size: 25px 25px;
  padding-left: 35px;
  font-weight: bold;
}

.nav-button-fsp {
  background-image: url('../img/fsp-icon.png');
  background-repeat: no-repeat;
  background-position:5px;
  background-size: 25px 25px;
  padding-left: 35px;
  font-weight: bold;
}

.nav-footer {
  margin-top: 1rem;
  /* height: 74px; */
  padding: 1.5em 0em 0em 0em;
  border-top: 1px solid var(--color-border);
  text-align: center;
  padding-bottom: 23px;
}

.nav-footer a {
  outline: none;
}

.nav-footer-button {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .20rem;
  line-height: 1;
  text-align: left;
  font: inherit;
  font-size: 13px;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: default;
  outline: none;
  text-align: center;
}
.nav-footer-button:focus {
  color: var(--color-strong);
}

/* Close Button */
.menu-icon {
  height: 40px;
  cursor: pointer;
  position: relative;
  transition: all 200ms ease-out;
  width: 40px;
}

.menu-icon:after, .menu-icon:before {
  background-color: #333;
  content: "";
  height: 1px;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
  transition: all 400ms cubic-bezier(0.25, 0.6, 0.36, 1);
  position: absolute;
  top: 50%;
  width: 25px;
}
.menu-icon:before {
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  transition-delay: 65ms;
}
.menu-icon:hover:after {
  transform: translate3d(-50%, -50%, 0) rotate(225deg);
}
.menu-icon:hover:before {
  transform: translate3d(-50%, -50%, 0) rotate(135deg);
}
.menu-icon:active {
  opacity: 0.8;
  transition: none;
}

/* Setting-Button */

.settings-icon {
  margin:50px 500px;
  display: block;
}

/* Footer */
span {
  color: #666;
  font-size: 12px;
  bottom: 10px;
  bottom: auto;
  text-align: center;
}
span a {
  color: #000000;
  text-decoration: none;
}
span .fa {
  color: #E90606;
  margin: 0 3px;
  font-size: 12px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}

span .code {
  color: #000000;
  margin: 0 3px;
  font-size: 13px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}
