
/* Custom Properties */

:root {
  --color:          hsl(0,0%,22%);
  --color-subtle:   hsl(0,0%,44%);
  --color-strong:   hsl(222, 53%, 50%);
  --color-link:     hsl(0,0%,22%);

  --color-border:   hsl(0,0%,88%);
  --color-bg:       hsl(0,0%,96%);

  --color-accent:   black; /* Fallback */

  --button-size: 40px;
  --close-width: ($button-size / 10);
}


/* Category Colors */

.u-category-diagnose      { --color-accent: hsl(222, 53%, 50%); }
.u-category-recovery      { --color-accent: hsl(222, 53%, 50%); }
.u-category-hdd           { --color-accent: hsl(222, 53%, 50%); }
.u-category-antivirus     { --color-accent: hsl(222, 53%, 50%); }
.u-category-fsp           { --color-accent: hsl(222, 53%, 50%); }
.u-category-sethc         { --color-accent: hsl(222, 53%, 50%); }
.u-category-updater       { --color-accent: hsl(222, 53%, 50%); }
