<template class="task-template">
    <section id="updater-section" class="section js-contentupdater u-category-updater">
        <body>
            <header class="section-header">
                <div class="section-wrapper section-wrapper-updater">
                    <h1>SuD Updater</h1>
                </div>
            </header>
                <h2>Benutzung</h2>
      <button type="button" id="close-btn">SETHC-Script</button>
                <div class="demo-protip demo-protip-sethc">
                    <h2>Benutzung</h2>
                    <p>
                        Der <code>SuD Updater</code> sorgt .
                    </p>
                </div>
        </body>
    </section>
</template>
